body, html, div.container, div.screen {
  height: 100%;
  width: 100%;
  font-family: 'Krona One'; }

div.container {
  padding: 0;
  background: none;
  height: inherit;
  margin: 0 auto;
  max-width: 600px;
  position: relative; }

body, html, div.container {
  overflow: hidden;
  background: black; }

#landing_screen {
  z-index: 10;
  background: #5ab235; }
  #landing_screen h1 {
    margin: 0;
    padding: 10% 0 10%;
    font-family: 'Slackey';
    height: 70%;
    font-size: 60px;
    font-weight: 400;
    color: white;
    text-align: center; }
  #landing_screen #play_game {
    font-family: 'Krona One';
    width: 100%;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 30% 0;
    margin: 0; }
  #landing_screen .btn {
    margin-top: 50px; }

div.inactive {
  display: none; }

div#screen0 {
  display: block; }

div.screen {
  height: 100%;
  padding: 0 0 10%;
  position: absolute;
  top: 0; }
  div.screen img.img-responsive {
    padding: 0; }
  div.screen .image-frame {
    margin: 0;
    background: #3f4444; }
  div.screen .score-bar {
    height: 100%;
    background: #3f4444;
    text-align: center;
    text-shadow: 1px 1px #585e5e;
    padding: 2% 0 0;
    color: #f7f8f8;
    font-size: 10px;
    font-weight: 300; }
    div.screen .score-bar span.glyphicon {
      color: #f7f8f8;
      font-size: 40px;
      margin-bottom: 10px; }
    div.screen .score-bar p {
      margin: 0;
      line-height: 1.2em; }
    div.screen .score-bar hr {
      margin: 8px 0;
      border-color: #8f9294; }
    div.screen .score-bar #score {
      font-size: 24px; }
    div.screen .score-bar img {
      padding-top: 5%; }
  div.screen:first-child .camels_hump {
    height: 100%;
    background-image: url("../img/camels_hump.png");
    background-size: 100%;
    background-repeat: no-repeat; }
    @media (max-height: 400px) {
      div.screen:first-child .camels_hump {
        position: relative;
        top: -2px; } }
    div.screen:first-child .camels_hump #scoreboard {
      position: relative;
      display: none;
      padding-top: 50%; }
      div.screen:first-child .camels_hump #scoreboard h2 {
        font-family: 'Slackey';
        font-size: 24px;
        text-align: center;
        color: white;
        padding-bottom: 20px; }
      div.screen:first-child .camels_hump #scoreboard #score {
        color: #3f4444;
        line-height: 1em;
        font-size: 18px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center; }
        div.screen:first-child .camels_hump #scoreboard #score p {
          padding-bottom: 10px; }
        div.screen:first-child .camels_hump #scoreboard #score a {
          color: #3f4444;
          line-height: 1.5em;
          border-bottom: 2px solid #5c5e61; }
          div.screen:first-child .camels_hump #scoreboard #score a:hover {
            text-decoration: none;
            border-bottom: 2px solid #2a2b2d; }
        div.screen:first-child .camels_hump #scoreboard #score #your_score {
          color: #c7341f;
          font-size: 28px; }

div.btn-group-vertical {
  background: #307fe2;
  width: 100%;
  color: white;
  font-family: 'Helvetica Neue'; }
  div.btn-group-vertical button.btn {
    margin: 0;
    font-weight: 300;
    height: 44px;
    color: white;
    font-size: 22px;
    border-radius: 0 !important;
    border: none !important;
    background: #9724e0; }
    div.btn-group-vertical button.btn:first-child {
      background: #ed8b00; }
    div.btn-group-vertical button.btn:last-child {
      background: #e04e39; }
    div.btn-group-vertical button.btn div {
      height: 100%;
      width: 100%; }
  @media (max-height: 400px) {
    div.btn-group-vertical {
      padding-bottom: 50px; } }

#questions {
  height: 200%;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  background: #5ab235; }

#questions div.screen {
  position: absolute;
  top: 0;
  left: 100%; }
