body, html, div.container, div.screen, div#questions {
  height: 100%;
  width: 100%;
  font-family: 'Krona One';
  background: #5ab235; }

div.container {
  padding: 0; }

#landing_screen {
  z-index: 10;
  background: #5ab235; }
  #landing_screen h1 {
    margin: 0;
    padding: 10% 0 10%;
    font-family: 'Slackey';
    height: 70%;
    font-size: 60px;
    font-weight: 400;
    color: white;
    text-align: center; }
  #landing_screen #play_game {
    font-family: 'Krona One';
    width: 100%;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 30% 0;
    margin: 0; }
  #landing_screen .btn {
    margin-top: 50px; }

div.screen {
  height: 100%;
  padding: 0 0 10%;
  position: static;
  top: 0; }
  div.screen img.img-responsive {
    padding: 0;
    z-index: 5; }
  div.screen .image-frame {
    margin: 0 !important;
    background: #3f4444; }
  div.screen .score-bar {
    z-index: 10000;
    height: 100%;
    background: #3f4444;
    text-align: center;
    text-shadow: 1px 1px #585e5e;
    padding: 2% 0 0;
    color: #f7f8f8;
    font-size: 10px;
    font-weight: 300; }
    div.screen .score-bar span.glyphicon {
      color: #dddedf;
      font-size: 40px;
      margin-bottom: 10px; }
    div.screen .score-bar p {
      margin: 0;
      line-height: 1.2em; }
    div.screen .score-bar hr {
      margin: 8px 0;
      border-color: #8f9294; }
    div.screen .score-bar #score {
      font-size: 24px; }
    div.screen .score-bar img {
      padding-top: 5%; }
  div.screen .camels_hump {
    height: 100%;
    background-image: url("../img/camels_hump.png");
    background-size: 100%;
    background-repeat: no-repeat; }
  @media (max-height: 410px) {
    div.screen #camels_hump {
      padding-top: 20px;
      background: #307fe2; } }

div.btn-group-vertical {
  width: 100%;
  color: white;
  font-family: 'Helvetica Neue'; }
  div.btn-group-vertical button.btn {
    font-weight: 300;
    height: 44px;
    color: white;
    font-size: 22px;
    border-radius: 0 !important;
    border-left: none;
    border-right: none;
    border: none;
    background: #9724e0; }
    div.btn-group-vertical button.btn:first-child {
      background: #ed8b00; }
    div.btn-group-vertical button.btn:last-child {
      background: #e04e39; }
    div.btn-group-vertical button.btn div {
      height: 100%;
      width: 100%; }

#questions div.screen {
  position: absolute;
  top: 0;
  left: 100%; }

/*
.green2_screen {
    background: $green2;
}

.orange_screen {
    background: $orange;
}

.red_screen {
    background: $red;
}

.blue_screen {
    background: $blue;
}

.green_screen {
    background: $green;
}
*/
