$green: #509e2f;
$green2: #b5bd00;
$black: #3f4444;
$orange: #ed8b00;
$red: #e04e39;
$gray: #75787b;
$blue: #307fe2;
$purple: #9724e0;

body, html, div.container, div.screen, div#questions {
    height: 100%;
    width: 100%;
    //overflow: hidden;
    font-family: 'Krona One';
    background: $green;
}

div.container {
    padding: 0;
}

body, html {
}

#landing_screen {
    z-index: 10;
    background: lighten($green, 5%);
    h1 {
        margin: 0;
        padding: 10% 0 10%;
        font-family: 'Slackey';
        height: 70%;
        font-size: 60px;
        font-weight: 400;
        color: white;
        text-align: center;
    }
    #play_game {
        font-family: 'Krona One';
        width: 100%;
        text-align: center;
        color: white;
        font-size: 22px;
        padding: 30% 0;
        margin: 0;
    }
    .btn {
        margin-top: 50px;
    }
}

audio {
}

div.screen {
    background: $green;
    height: 100%;
    padding: 0 0 10%;
    position: static;
    top: 0;
    img.img-responsive {
        padding: 0;
        z-index: 5;
    }
    .image-frame {
        margin: 0 !important;
        background: $black;
    }
    .score-bar {
        z-index: 10000;
        height: 100%;
        background: $black;
        text-align: center;
        text-shadow: 1px 1px lighten($black, 10%);
        padding: 2% 0 0;
        color: lighten($gray, 50%);
        font-size: 10px;
        font-weight: 300;
        span.glyphicon {
            color: lighten($gray, 40%);
            font-size: 40px;
            margin-bottom: 10px;
        }
        p {
            margin: 0;
            line-height: 1.2em;
        }
        hr {
            margin: 8px 0;
            border-color: lighten($gray, 10%);
        }
        #score {
            font-size: 24px;
        }
        img {
            padding-top: 5%;
        }
    }
    #camels_hump {
        height: 100%;
        background-image: url('../img/camels_hump.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    @media (max-height: 410px) {
        #camels_hump {
            padding-top: 20px;
            background: $blue;
        }
    }
}

div.btn-group-vertical {
    width: 100%;
    color: white;
    font-family: 'Helvetica Neue';
    button.btn {
        font-weight: 300;
        height: 44px;
        color: white;
        font-size: 22px;
        border-radius: 0 !important;
        border-left: none;
        border-right: none;
        border: none;
        //background: lighten($gray, 60%);
        background: $purple;
        &:first-child {
            background: $orange;
        }
        &:last-child {
            background: $red;
        }
        div {
            height: 100%;
            width: 100%;
        }
    }
}

#questions div.screen {
    position: absolute;
    top: 0;
    left: 100%;
}
/*
.green2_screen {
    background: $green2;
}

.orange_screen {
    background: $orange;
}

.red_screen {
    background: $red;
}

.blue_screen {
    background: $blue;
}

.green_screen {
    background: $green;
}
*/
