$green: #509e2f;
$green2: #b5bd00;
$black: #3f4444;
$orange: #ed8b00;
$red: #e04e39;
$gray: #75787b;
$blue: #307fe2;
$purple: #9724e0;

body, html, div.container, div.screen, {
    height: 100%;
    width: 100%;
    font-family: 'Krona One';
}

div.container {
    padding: 0;
    background: none;
    height: inherit;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

body, html, div.container {
    overflow: hidden;
    background: black;
}

#landing_screen {
    z-index: 10;
    background: lighten($green, 5%);
    h1 {
        margin: 0;
        padding: 10% 0 10%;
        font-family: 'Slackey';
        height: 70%;
        font-size: 60px;
        font-weight: 400;
        color: white;
        text-align: center;
    }
    #play_game {
        font-family: 'Krona One';
        width: 100%;
        text-align: center;
        color: white;
        font-size: 22px;
        padding: 30% 0;
        margin: 0;
    }
    .btn {
        margin-top: 50px;
    }
}

div.inactive {
    display: none;
}

div#screen0 {
    display: block;
}


div.screen {
    height: 100%;
    padding: 0 0 10%;
    position: absolute;
    top: 0;
    img.img-responsive {
        padding: 0;
    }
    .image-frame {
        margin: 0;
        background: $black;
    }
    .score-bar {
        height: 100%;
        background: $black;
        text-align: center;
        text-shadow: 1px 1px lighten($black, 10%);
        padding: 2% 0 0;
        color: lighten($gray, 50%);
        font-size: 10px;
        font-weight: 300;
        span.glyphicon {
            color: lighten($gray, 50%);
            font-size: 40px;
            margin-bottom: 10px;
        }
        p {
            margin: 0;
            line-height: 1.2em;
        }
        hr {
            margin: 8px 0;
            border-color: lighten($gray, 10%);
        }
        #score {
            font-size: 24px;
        }
        img {
            padding-top: 5%;
        }
    }
    &:first-child .camels_hump {
        height: 100%;
        background-image: url('../img/camels_hump.png');
        background-size: 100%;
        background-repeat: no-repeat;
        @media (max-height: 400px) {
            position: relative;
            top: -2px;
        }
        #scoreboard {
            position: relative;
            display: none;
            padding-top: 50%;
            h2 {
                font-family: 'Slackey';
                font-size: 24px;
                text-align: center;
                color: white;
                padding-bottom: 20px;
            }
            #score {
                color: $black;
                line-height: 1em;
                font-size: 18px;
                padding-left: 5%;
                padding-right: 5%;
                text-align: center;
                p {
                    padding-bottom: 10px;
                }
                a {
                    color: $black;
                    line-height: 1.5em;
                    border-bottom: 2px solid darken($gray, 10%);
                    &:hover {
                        text-decoration: none;
                        border-bottom: 2px solid darken($gray, 30%);
                    }
                }
                #your_score {
                    color: darken($red, 10%);
                    font-size: 28px;
                }
            }
        }
    }
}

div#screen0 {
}

div.btn-group-vertical {
    background: $blue;
    width: 100%;
    color: white;
    font-family: 'Helvetica Neue';
    button.btn {
        margin: 0;
        font-weight: 300;
        height: 44px;
        color: white;
        font-size: 22px;
        border-radius: 0 !important;
        border: none !important;
        background: $purple;
        &:first-child {
            background: $orange;
        }
        &:last-child {
            background: $red;
        }
        div {
            height: 100%;
            width: 100%;
        }
    }
    @media (max-height: 400px) {
        padding-bottom: 50px;
    }
}

#questions {
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background: lighten($green, 5%);
}

#questions div.screen {
    position: absolute;
    top: 0;
    left: 100%;
}
