<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">

    <title>{% block title %}Fixed Top Navbar Example for Bootstrap{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block data %}{% endblock %}

  </head>

  <body>


    <div class="container">

    {% block content %}
    {% endblock %}

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/faces.js') }}"></script>
  </body>
</html>
