{% extends "base.html" %}
{% block title %}Faces Made For Radio{% endblock %}

{% block description %}How well do you know your favorite VPR personalities? Take this quiz matching the voices you always hear to the faces you seldom see!{% endblock %}

{% block data %}
<script id="data" type="application/json">{{ data|safe }}</script>
{% endblock %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="screen active" id="landing_screen">
    <h1>Faces Made For Radio</h1>
    <p id="play_game">Play The Game &raquo;</p>
</div>

<div id="questions">
{% for color in ['green2', 'orange', 'red', 'blue', 'green', 'green2', 'orange', 'red', 'blue', 'green'] %}
    <div class="screen {{ color }}_screen inactive" id="screen{{ loop.index0 }}">
        <div class="row image-frame">
            <img class="img-responsive col-xs-10" src="{{ url_for('static', filename='img/faces/click_clack_m.jpg') }}">
            <div class="score-bar col-xs-2">
                <p>Score</p>
                <p id="score">00</p>
                <hr>
                <p>Audio Hint</p>
                <a class="audio_play" onclick="this.firstChild.play()"><audio src="{{ url_for('static', filename='mp3/bob_kinzel.mp3') }}"></audio><span class="glyphicon glyphicon-play"></span></a>
                </p>[-2 pts]</p>
                <hr>
                <p>Built by</p>
                <a href="http://www.vpr.net"><img class="img-responsive" src="{{ url_for('static', filename='img/vpr-logo.png') }}"></a>
            </div>

        </div>
        <div class="btn-group-vertical">
            <button type="button" class="answer btn btn-default">Bert &amp; Ernie</button>
            <button type="button" class="answer btn btn-default">Click &amp; Clack</button>
            <button type="button" class="answer btn btn-default">Simon &amp; Garfunkle</button>
        </div>
        <div id="camels_hump"></div>
    </div>
{% endfor %}
</div>

{% endblock %}
